<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beerstoragemanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".RegisterView" android:screenOrientation="portrait"/>
        <activity android:name=".HomeView" android:screenOrientation="portrait"/>
        <activity android:name=".OrdersView" android:screenOrientation="portrait"/>
        <activity android:name=".PresetsView" android:screenOrientation="portrait"/>
        <activity android:name=".StorageView" android:screenOrientation="portrait"/>
        <activity android:name=".AddingToStorageView" android:screenOrientation="portrait"/>
        <activity android:name=".AddingNewPresetView" android:screenOrientation="portrait"/>
        <activity android:name=".PresetHistoryView" android:screenOrientation="portrait"/>
        <activity android:name=".OrdersHistoryView" android:screenOrientation="portrait"/>
        <activity android:name=".ForgotPasswordView" android:screenOrientation="portrait"/>
    </application>

</manifest>